/* CSS for hero image on home page */
.home-background-image {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  object-position: top;
}

.home-background-container {
  width: 100%;
  max-height: 1000px;  
  position: relative;
}

.home-background-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 20px;
  top: 37%;
  text-align: left;
}

.home-header {
  font-family: "Mont";
  font-size: 100px;
  margin: 0;
}

.home-tagline {
  font-size: 30px;
  margin: 0;
}

